<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.kingofservice.ui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KingOfService">
        <activity android:name=".TelaProcesso"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaModalTipoServico"
            android:parentActivityName=".TelaVerPerfilPrestador" />
        <activity
            android:name=".SuaLocalizacaoCliente"
            android:maxAspectRatio="2.4"
            android:parentActivityName=".TelaPerfilCliente" />
        <activity
            android:name=".TelaVerPerfilPrestador"
            android:maxAspectRatio="2.4"
            android:parentActivityName=".TelaListagem" />
        <activity
            android:name=".TelaPerfilCliente"
            android:maxAspectRatio="2.4" />
        <activity
            android:name=".TelaListagem"
            android:maxAspectRatio="2.4" />
        <activity
            android:name=".TelaFeed"
            android:maxAspectRatio="2.4" />
        <activity
            android:name=".TelaCadastroPrestador"
            android:maxAspectRatio="2.4"
            android:parentActivityName=".TelaTipoUsuario" />
        <activity
            android:name=".TelaCadastroCliente"
            android:maxAspectRatio="2.4"
            android:parentActivityName=".TelaTipoUsuario" />
        <activity
            android:name=".TelaTipoUsuario"
            android:maxAspectRatio="2.4"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TelaLogin"
            android:maxAspectRatio="2.4"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:maxAspectRatio="2.4" />
    </application>

</manifest>